.ImageCarouselWrapper {
    width: 20rem;
    height: 10rem;
    background-color: $background-color;
    
  .ImageCarousel {
    position: relative;
    width: 20rem;
    height: 10rem;
    overflow: hidden;

    .ImageWrapper {
      width: 20rem;
      height: 10rem;
      transition: unset;
      position: relative;
      
      .Image {
        width: 100%;
        height: 100%;
      }

      &.switching {
        transform: translateY(100%);
        transition: all 200ms ease-in-out;
      }

      &.NextImageIndex {
        z-index: 2;
        position: absolute;
        top: -100%;
      }
    }
  }
}