.Footer {
  font-size: $default-font;
  max-width: 100%;
  background-color: $grey-2;
  box-shadow: 0 -2rem 2rem rgba($black, .5);
  padding: 1rem 1rem 2rem 1rem;

  display: grid;
  
  grid-template-columns: repeat(auto-fill, minmax(max(25rem, calc((90% - 2rem) / 5)), 1fr));
  grid-auto-rows: max-content;
  gap: .4rem;

  align-items: center;
  justify-content: center;

  &__Item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 .5rem 0 .5rem;

    & > * {
      min-width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    &__Title {
      @include TertriaryTitle;
      padding-bottom: .5rem;
    }

    &__Orli {

    }

    &__Partners {
      display: flex;
      justify-content: center;
    }

    &__Find {
      display: flex;
      justify-content: center;
    }

    &__Help,
    &__Legal {
      display: flex;
      flex-direction: column;

      align-items: flex-start;
    }
  }
}
