.Images {
    &__Content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem;

        @include respond(tiny-desktop) {
            flex-direction: column;
        }
    }

    &__Item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem;
        max-width: 45%;
        max-height: max-content;
        cursor: pointer;

        @include respond(tiny-desktop) {
            max-width: 100%;
        }

        & img {
            display: inline-block;
            max-height: 100%;
            max-width: 100%;

            border: .5rem solid transparent;
            border-radius: .3rem;
            transform: scale(1);
            object-fit: cover;
            filter: drop-shadow(0 .3rem .5rem rgba($black, .7));

            transition: all .3s, border .5s;
            background-clip: padding-box;

            @include respond(min-phone) {
                &:hover {
                    border: .5rem solid $color-primary;

                    transform: scale(1.02);
                    filter: drop-shadow(0 .3rem 1rem rgba($black, .3));
                    z-index: 20;
                }
            }
        }
    }
    
}