.Contact {
    position: relative;
    color: $white;
    min-height: 100vh;
    height: 100%;
    padding: 7rem 10rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: auto;

    @include respond(small-desktop) {
        padding: 4rem 10rem;
        width: 70%;
    }
    
    @include respond(tiny-desktop) {
        padding: 3rem 5rem;
        width: 90%;
    }
    
    @include respond(phone) {
        padding: 5rem 2rem;
        width: 100%;
    }
    
    @include respond(small-phone) {
        padding: 5rem 1rem;
    }

    @include respond(big-desktop) {
        padding: 10rem 10rem;
    }

    @include center;

    &__Button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }
}