.MainWrapper {
    position: relative;
    color: $white;
    min-height: 100vh;
    padding: 5rem 10rem;

    @include respond(small-desktop) {
        padding: 4rem 8rem;
    }
    
    @include respond(tiny-desktop) {
        padding: 3rem 6rem;
    }
    
    @include respond(phone) {
        padding: 1rem 2rem;
        margin: 5rem 0;
    }
    
    @include respond(small-phone) {
        padding: none;
    }

    .Title {
        @include PrimaryTitle;
        margin-bottom: 3rem;
        background: rgba($grey-2, .9);
        border-radius: 2.5rem;
        box-shadow: 0 1rem 1rem rgba($black, .5);

        @include respond(min-phone) {
            backdrop-filter: blur(.5rem);
        }
    }

    .Content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;


        & > * {
            &:not(:nth-child(1)) {
                margin-top: 5rem;
            }
            &:not(:last-child) {
                margin-bottom: 5rem;
            }
        }

        &__Questions {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}