.Faq {
    @include DefaultLayout;

    &__Background {
        @include DefaultBackground;
    }

    display: flex;
    flex-direction: column;

    & > * {
        &:not(:nth-child(1)) {
            margin-top: 5rem;
        }

        &:not(:last-child) {
            margin-bottom: 5rem;
        }
    }

    &__Categories {
        & > * {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            & > * {
                margin: .5rem;
            }
        }
    }

    &__Title {
        font-size: 1.6rem;
        padding: .4rem;

        &__Main {
            color: $color-primary;
            font-family: $styled-font-family;
        }

        &__Sub {
            color: $color-primary;
            font-family: $styled-font-family;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__Body {
        text-align: left;

        & > * {
            width: 100%;
            padding: 1rem;
        }

        a {
            text-align: justify;
            text-indent: 0;
            
            width: max-content;
            display: inline-flex;
            align-items: center;
            padding: 0;
        }
    }

    &__Search {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__Content {
        margin-top: 2rem;
        background: none;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;

        &__Title {
            font-weight: bold;
            padding: .5rem;
            font-size: $styled-font-size;
        }

        & > * {
            max-width: 45%;
        }

        @include respond(small-desktop) {
            & > * {
                max-width: 100%;
            }
        }
    }
}