.MainWrapper {
    color: $white;
    min-height: 100vh;
    padding: 7rem 10rem;
    background-color: $grey-1;

    @include respond(small-desktop) {
        padding: 4rem 10rem;
    }
    
    @include respond(tiny-desktop) {
        padding: 3rem 10rem;
    }
    
    @include respond(phone) {
        padding: 1rem 2rem;
    }
    
    @include respond(small-phone) {
        padding: none;
    }

    @include respond(big-desktop) {
        padding: 10rem 10rem;
    }

    .Title {
        @include PrimaryTitle;
    }

    .Gallery {
        display: grid;
        max-width: 100%;
        padding: 5rem;

        @include respond(small-desktop) {
            padding: 4rem;
        }
        
        @include respond(tiny-desktop) {
            padding: 3rem;
        }
        
        @include respond(phone) {
            padding: 2rem;
        }
        
        @include respond(small-phone) {
            padding: 1rem;
        }

        grid-template-columns: repeat(auto-fill, minmax(max(25rem, calc((100% - 6rem) / 3)), 1fr));

        @include respond(4k-desktop) {
            grid-template-columns: repeat(auto-fill, minmax(max(25rem, calc((90% - 6rem) / 3)), 1fr));
        }

        grid-auto-rows: max-content;
        gap: 6rem;

        align-items: center;
        justify-content: center;

        &__Item {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            max-height: 100%;

            & img {
                display: inline-block;
                max-height: 100%;
                max-width: 100%;

                border: 1rem solid transparent;
                transform: scale(1);
                object-fit: cover;
                filter: drop-shadow(0 1.5rem 4rem rgba($black, .4));
                border-radius: 2px;

                transition: all .3s, border .5s;
                background-clip: padding-box;

                @include respond(min-phone) {
                    &:hover {
                        border: 1rem solid white;
                        border-image: linear-gradient(135deg, $primary-color, $secondary-color) 20 stretch;
    
                        transform: scale(1.075);
                        filter: drop-shadow(0 2.5rem 4rem rgba($black, .5));
                        z-index: 20;
                    }
                }
            }
        }
    }
    
}