.Home {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 90vh;
    margin-bottom: 5rem;
    backface-visibility: hidden;

    &__Background {
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        min-width: 100vw;
        background-color: $black;
        background-size: 100%;
        z-index: -10;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    &__Scroll {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        animation: homeIcon 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
        padding-top: 3rem;
        color: $white;
        cursor: pointer;
        transition: filter .2s;
        filter: drop-shadow(0 .5rem .3rem rgba($black, .5));
        
        @include respond(phone) {
            width: 8rem;
        }

        @include respond(big-desktop) {
            width: 14rem;
        }

        @include respond(4k-desktop) {
            width: 16rem;
        }

        & > * {
            width: 100%;
            height: 100%;
        }

        &:hover, &:focus-visible {
            color: $white;
            filter: drop-shadow(0 .5rem .3rem rgba($black, .5)), brightness(1.25);
        }

        &:focus, &:active, &:visited {
            color: $white;
        }
    }

    &__Title {
        font-size: 4.5rem;
        font-family: $styled-font-family;
        color: $white;
        filter: drop-shadow(0 .5rem .3rem rgba($black, .5));
        padding: 2rem 0;
        animation: grow 1.4s ease-out forwards;
        opacity: 0;
        transform: scale(.8);

        h3 {
            text-align: center;
        }
    }
    &__Location {
        font-size: 2.5rem;
        color: $white;
        filter: drop-shadow(0 .5rem .3rem rgba($black, .5));
        animation: grow 1.4s ease-out .4s forwards;
        opacity: 0;
        transform: scale(.8);
    }
    &__Date {
        font-size: 3rem;
        color: $white;
        filter: drop-shadow(0 .5rem .3rem rgba($black, .5));
        animation: grow 1.4s ease-out .6s forwards;
        opacity: 0;
        transform: scale(.8);
    }

    &__Content {
        box-shadow: 0 -1rem 2rem rgba($black, .8);
        color: $white;
        width: 100%;

        background-color: $background-color;
    }

    &__Wrapper {
        padding: 5rem 0;
        width: 55%;
        margin: auto;

        &__Row {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 5rem;
            }

            & > * {
                width: 100%;
                &:not(:first-child) {
                    margin-left: 4rem;
                }
            }

            @include respond(tiny-desktop) {
                flex-direction: column;

                & > * {
                    &:not(:first-child) {
                        margin-left: 0;
                    }
                }
            }
        }

        @include respond(small-desktop) {
            width: 65%;
        }
        
        @include respond(tiny-desktop) {
            width: 85%;
        }
        
        @include respond(phone) {
            width: 95%;
        }
    }

    &__Center {
        display: flex;
        justify-content: center;
        align-items: center;

        & > * {
            width: 63.5rem;
            height: 36rem;

            border-width: .2rem .2rem .2rem .2rem;
            border-style: solid;
            border-color: $white;

            border-image: linear-gradient(90deg, $color-primary, $color-secondary) 20 stretch;

            @include respond(phone) {
                width: 100%;
                height: 27rem;
            }

            @include respond(big-desktop) {
                width: 79.5rem;
                height: 45rem;
            }

            @include respond(4k-desktop) {
                width: 95.5rem;
                height: 54rem;
            }
        }
    }

    &__Btn {
        margin-top: 3rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include respond(big-desktop) {
            margin-bottom: 1rem;
        }

        @include respond(4k-desktop) {
            margin-bottom: 3rem;
        }
    }
}