.Home {
    color: $white;
    position: relative;
    height: 100%;

    width: 65%;
    margin: auto;

    @include respond(small-desktop) {
        padding: 4rem 8rem;
        width: 70%;
    }
    
    @include respond(tiny-desktop) {
        padding: 3rem 6rem;
        width: 90%;
    }
    
    @include respond(phone) {
        padding: 5rem 2rem;
        width: 100%;
    }
    
    @include respond(small-phone) {
        padding: 5rem 1rem;
    }

    @include respond(big-desktop) {
        padding: 10rem 10rem;
    }
    
    min-height: 100vh;

    &__TextField {
        position: relative;
        width: 75%;
        height: max-content;
        position: absolute;
        top: 0;
        bottom: 20%;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba($background-color, .5);
        border-radius: 2rem;
        box-shadow: rgba($black, .8) 0 0 2.5rem;
        padding: 3rem 5rem;

        @include respond(min-phone) {
            backdrop-filter: blur(.2rem);
        }

        @include respond(phone) {
            padding: 1rem 2rem;
            top: 10%;
            width: 100%;
        }

        @include respond(big-desktop) {
            font-size: calc($styled-font-size * 1.6);
        }

        @include respond(4k-desktop) {
            font-size: calc($styled-font-size * 2.2);
        }

        &__Content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 2rem 0;

            & > * {
                width: 64rem;
                height: 36rem;

                @include respond(phone) {
                    width: 48rem;
                    height: 27rem;
                }

                @include respond(big-desktop) {
                    width: 80rem;
                    height: 45rem;
                }

                @include respond(4k-desktop) {
                    width: 96rem;
                    height: 54rem;
                }
            }
        }
  
        &__Btn {
            margin-top: 3rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 50%;
            transform: translateX(-50%);

            @include respond(big-desktop) {
                margin-bottom: 1rem;
            }

            @include respond(4k-desktop) {
                margin-bottom: 3rem;
            }
        }
    }
}