.MainWrapper {
    position: relative;
    color: $white;
    min-height: 100vh;
    height: 100%;
    padding: 5rem 10rem;
    background-color: $background-color;

    .Title {
        @include PrimaryTitle;
        margin-bottom: 3rem;
        background: rgba($grey-2, .9);
        border-radius: 2.5rem;
        backdrop-filter: blur(.5rem);
        box-shadow: 0 1rem 1rem rgba($black, .5);

        @include respond(min-phone) {
            backdrop-filter: blur(.5rem);
        }
    }

    .Content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;

        width: 65%;
        margin: auto;

        @include respond(small-desktop) {
            padding: 4rem 8rem;
            width: 70%;
        }
        
        @include respond(tiny-desktop) {
            padding: 3rem 6rem;
            width: 90%;
        }
        
        @include respond(phone) {
            padding: 5rem 2rem;
            width: 100%;
        }
        
        @include respond(small-phone) {
            padding: 5rem 1rem;
        }

        @include respond(big-desktop) {
            padding: 10rem 10rem;
        }

        & > * {
            &:not(:nth-child(1)) {
                margin-top: 5rem;
            }
            &:not(:last-child) {
                margin-bottom: 5rem;
            }
        }
    }
}


.Hub {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    color: $white;
    min-height: 100vh;
    height: 100%;
    padding: 5rem 10rem;
    background-color: $background-color;

    @include respond(small-desktop) {
        padding: 4rem 8rem;
    }
    
    @include respond(tiny-desktop) {
        padding: 3rem 6rem;
    }
    
    @include respond(phone) {
        padding: 5rem 2rem;
    }
    
    @include respond(small-phone) {
        padding: 5rem 1rem;
    }

    &__Title {
        @include PrimaryTitle();
    }

    &__Content {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-rows: minmax(0, 1fr);
        width: 100%;

        gap: 10rem;

        @include respond(small-desktop) {
            gap: 5rem;
        }
 
        @include respond(tiny-desktop) {
            width: 100%;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            grid-template-rows: repeat(3, minmax(0, 1fr));
        }
    }
}