.Hub {
    color: $white;
    min-height: 100vh;
    padding: 7rem 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include respond(small-desktop) {
        padding: 4rem 10rem;
    }
    
    @include respond(tiny-desktop) {
        padding: 3rem 10rem;
    }
    
    @include respond(phone) {
        padding: 5rem 2rem;
    }
    
    @include respond(small-phone) {
        padding: 5rem 1rem;
    }

    @include respond(big-desktop) {
        padding: 10rem 10rem;
    }

    &__Title {
        @include PrimaryTitle();
    }

    @include center;

    &__Content {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: minmax(0, 1fr);
        width: 50%;

        gap: 10rem;

        @include respond(small-desktop) {
            gap: 5rem;
        }
 
        @include respond(tiny-desktop) {
            width: 100%;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            grid-template-rows: repeat(2, minmax(0, 1fr));
        }
    }
}