.MainWrapper {
    position: relative;
    color: $white;
    min-height: 100vh;
    padding: 5rem 10rem;

    @include respond(small-desktop) {
        padding: 4rem 8rem;
    }
    
    @include respond(tiny-desktop) {
        padding: 3rem 6rem;
    }
    
    @include respond(phone) {
        padding: 5rem 2rem;
    }
    
    @include respond(small-phone) {
        padding: 5rem 1rem;
    }

    .Title {
        @include PrimaryTitle;
        margin-bottom: 3rem;
        background: rgba($grey-2, .9);
        border-radius: 2.5rem;
        box-shadow: 0 1rem 1rem rgba($black, .5);

        @include respond(min-phone) {
            backdrop-filter: blur(.2rem);
        }
    }

    .Location {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;

        & > * {
            &:not(:nth-child(1)) {
                margin-top: 5rem;
            }
            &:not(:last-child) {
                margin-bottom: 5rem;
            }
        }

        &__Text {
            letter-spacing: .1rem;
        }

        &__Map {
            width: 100%;
            height: 40rem;

            @include respond(big-desktop) {
                height: 60rem;
            }
        
            @include respond(4k-desktop) {
                height: 80rem;
            }
            
            //Safari support 
            border-width: .2rem .2rem .2rem .2rem;
            border-style: solid;
            border-color: $white;

            border-image: linear-gradient(90deg, $primary-color, $secondary-color) 20 stretch;
        }

        &__Paragraph {
            font-size: calc($default-font * 1.2);
        }

        &__Btn {
            display: flex;
        }

        &__Poi {
            display: flex;
            justify-content: space-around;
            align-items: stretch;

            & > * {
                &:not(:nth-child(1)) {
                    margin-left: 1rem;
                }
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }

            @include respond(tiny-desktop) {
                flex-direction: column;

                & > * {
                    min-width: 100%;
                    &:not(:nth-child(1)) {
                        margin-top: 1rem;
                        margin-left: 0;
                    }
                    &:not(:last-child) {
                        margin-bottom: 1rem;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}