.Login {
    display: flex;
    flex-direction: column;

    @include DefaultLayout;

    &__Background {
        @include DefaultBackground;
    }

    &__Button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    &__Error {
        &__Text {
            color: $color-red;
            font-size: calc($default-font-size / 1.2);
        }
    }

    &__Form {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;

        & > * {
            width: 100%;
            margin: .2rem;
            padding: 1rem;
            
            
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }

        &__Button {
            width: max-content;
            
            margin-bottom: 0 !important;
        }

        &__Row {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;

            @include respond(tiny-desktop) {
                flex-direction: column;
                align-items: flex-start;
            }
            
            & > * {
                flex: 1;
                &:not(:last-child) {
                    margin-right: 1rem;
                }

                @include respond(tiny-desktop) {
                    width: 100%;
                }
            }
        }
    }
}