.Participants {
    color: $white;
    position: relative;
    height: 100%;
    padding: 0 10rem;
    padding-bottom: 2rem;

    width: 65%;
    margin: auto;

    @include respond(small-desktop) {
        padding: 0 10rem;
        padding-bottom: 2rem;
        width: 70%;
    }
    
    @include respond(tiny-desktop) {
        padding: 0 3rem;
        padding-bottom: 2rem;
        width: 90%;
    }
    
    @include respond(phone) {
        padding: 0 2rem;
        padding-bottom: 2rem;
        width: 100%;
    }
    
    @include respond(small-phone) {
        padding: 0 1rem;
        padding-bottom: 2rem;
    }

    @include respond(big-desktop) {
        padding: 0 10rem;
        padding-bottom: 2rem;
    }

    &__Background {
        @include DefaultBackground;
    }

    &__List {
        &__Overwrite {
            height: 100% !important;
            max-height: 100vh;
        }
    }

    &__Item {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        margin-bottom: 2rem;
        
        & > * {
            max-width: 26%;
            margin: 2rem;
            flex: 1 1 0;

            @include respond(small-desktop) {
                max-width: 35%;
                margin: 1rem;
            }

            @include respond(tiny-desktop) {
                max-width: 37.5%;
                margin: 1rem;
            }

            @include respond(phone) {
                max-width: 80%;
                margin: 0;
            }
        }
    }
}