.Participants {
    @include DefaultLayout;

    &__Background {
        @include DefaultBackground;
    }

    &__List {
        margin-top: 5rem;

        &__Overwrite {
            height: 100% !important;
        }
    }

    &__Item {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        
        & > * {
            max-width: 26%;
            margin: 2rem;
            flex: 1 1 0;

            @include respond(small-desktop) {
                max-width: 35%;
                margin: 1rem;
            }

            @include respond(tiny-desktop) {
                max-width: 37.5%;
                margin: 1rem;
            }

            @include respond(phone) {
                max-width: 80%;
                margin: 0;
            }
        }
    }
}