.Programs {
    @include DefaultLayout;

    &__Background {
        @include DefaultBackground;
    }

    display: flex;
    flex-direction: column;

    & > * {
        &:not(:nth-child(1)) {
            margin-top: 5rem;
        }

        &:not(:last-child) {
            margin-bottom: 5rem;
        }
    }

    &__Title {
        color: $color-primary;
        font-family: $styled-font-family;

        &_Secondary {
            color: $color-secondary;
            font-family: $styled-font-family;
            font-size: 2rem;
        }

        &_Tertiary {
            font-size: 2rem;
        }
    }

    &__Body {
        a {
            text-align: justify;
            text-indent: 0;
            
            width: max-content;
            display: inline-flex;
            align-items: center;
            padding: 0;
        }

        ul, ol {
            margin-left: 1rem;
        }

        ul {
            padding-left: 2rem;
        }

        ol {
            & > * {
                margin: 0 1rem;
            }
        }
    }
}