.Reset {
    position: relative;
    color: $white;
    min-height: 100vh;
    height: 100%;
    padding: 7rem 10rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: auto;

    @include respond(small-desktop) {
        padding: 4rem 10rem;
        width: 70%;
    }
    
    @include respond(tiny-desktop) {
        padding: 3rem 5rem;
        width: 90%;
    }
    
    @include respond(phone) {
        padding: 5rem 2rem;
        width: 100%;
    }
    
    @include respond(small-phone) {
        padding: 5rem 1rem;
    }

    @include respond(big-desktop) {
        padding: 10rem 10rem;
    }

    @include center;

    &__Button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    &__Error {
        border-color: $default-red;
        border-image: none;

        &__Text {
            color: $default-red;
            font-size: calc($default-font-size / 1.2);
        }
    }

    &__Form {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;

        border-radius: 1.5rem;
        background-color: rgba($grey-1, .9);

        & > * {
            width: 100%;
            margin: .2rem;
            padding: 1rem;
            
            
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }

        &__Button {
            width: max-content;
            
            margin-bottom: 0 !important;
        }
    }
}