.Staff {
    @include DefaultLayout;

    &__Background {
        @include DefaultBackground;
    }

    display: flex;
    flex-direction: column;

    & > * {
        &:not(:nth-child(1)) {
            margin-top: 5rem;
        }

        &:not(:last-child) {
            margin-bottom: 5rem;
        }
    }

    &__Title {
        color: $color-primary;
        font-family: $styled-font-family;
        &_Secondary {
            color: $color-secondary;
            font-family: $styled-font-family;
            font-size: 2rem;
        }

        &_Tertiary {
            font-size: 2rem;
        }
    }

    &__Body {
        display: flex;
        justify-content: flex-start;
        text-align: left !important;

        a {
            text-align: justify;
            text-indent: 0;
            
            width: max-content;
            display: inline-flex;
            align-items: center;
            padding: 0;
            margin-right: -.5rem;
        }

        ul {
            margin-left: 2rem;
        }
    }

    &__Content {
        color: $white;
        margin: 2rem 0;
        padding: 0 4rem;
        background: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        
        & > * {
            max-width: 20%;
            width: 20%;
            margin: 1rem;
        }

        @include respond(small-desktop) {
            padding: 0 .5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;

            & > * {
                max-width: 75%;
                width: 75%;
            }
        }
    }
}