// FONT
$styled-font-size: 1.6rem;

$styled-font-family:
Styled-Font,
-apple-system,
BlinkMacSystemFont,
Segoe UI,
Roboto,
Oxygen,
Ubuntu,
Cantarell,
Fira Sans,
Droid Sans,
Helvetica Neue,
sans-serif;

$default-font-size: 1.6rem;

$default-font-family:
Roboto,
-apple-system,
BlinkMacSystemFont,
Segoe UI,
Oxygen,
Ubuntu,
Cantarell,
Fira Sans,
Droid Sans,
Helvetica Neue,
sans-serif;


// MEDIA QUERY MANAGER
$small-desktop: 1400;
$tiny-desktop: 1000; // For dynamic change of navbar
$phone: 600;
$smallPhone: 410;

// COLORS
$black: #000000;
$grey-0: #121212;
$grey-1: #181818;
$grey-2: #272727;
$grey-3: #3a3a3a;
$grey-4: #5c5c5c;
$grey-5: #757575;
$grey-6: #969696;
$grey-7: #cccccc;
$grey-8: #e6e6e6;
$white: #ffffff;

$color-red: #ff0000;
$color-green: #00ff00;
$color-blue: #0000ff;

$color-primary: #ffae00;
$color-secondary: #9a0d8b;
$color-tertiary: #fff;

// SITE
$background-color: $grey-1;

//NAVBAR
$nav-item-line: $color-primary;
$nav-linear-gradient-color-1: rgba($black,1);
$nav-linear-gradient-color-2: transparent;

// FEEDBACK
$color-error: #ff0000;
$color-success: #00ff00;
$color-info: #ffffff;
$color-warning: #eb7814;

// SIZES
$size-icon-large: 3.2rem;
$size-icon-normal: 2.6rem;
$size-icon-small: 1.8rem;

$size-large: 2.5rem;
$size-normal: 2rem;
$size-small: 1.5rem;

// CARDS
$card-shadow:  0rem 0rem 0.6rem 0.1rem rgba($black, 0.25);