:export {
    errorColor: $color-error;
    warningColor: $color-warning;
    successColor: $color-success;
    infoColor: $color-info;
    primaryColor: $color-primary;
    secondaryColor: $color-secondary;
    tertiaryColor: $color-tertiary;
    disabledColor: $grey-4;

    largeIconSize: $size-icon-large;
    normalIconSize: $size-icon-normal;
    smallIconSize: $size-icon-small;

    largeSize: $size-large;
    normalSize: $size-normal;
    smallSize: $size-small;
}