:export {
    errorColor: $color-error;
    warningColor: $color-warning;
    successColor: $color-success;
    infoColor: $color-info;
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    disabledColor: $grey-4;

    largeIconSize: $size-large;
    normalIconSize: $size-normal;
    smallIconSize: $size-small;

    largeSize: $size-large;
    normalSize: $size-normal;
    smallSize: $size-small;
}