.Gradient {
    background: $background-color;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;

    &__Bottom {
        --start: 0px;
        --end: 0px;

        position: absolute;
        bottom: 0;
        background: linear-gradient($background-color 0px, darken($background-color, 5%) var(--end));
        height: var(--start);
        width: 100vw;
        z-index: -1;
    }
}

.Background {
    @include respond(min-phone) {
        $particleNum: 20;
        $particleColor: $primary-color;
        z-index: -1;

        position: absolute;
        bottom: 110vh;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        overflow: hidden;

        .Particle {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            mix-blend-mode: screen;
            background-image: radial-gradient($primary-color,
                    $primary-color 10%,
                    rgba($black, .5));

            animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

            @keyframes fade-frames {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0.7;
                }

                100% {
                    opacity: 1;
                }
            }

            @keyframes scale-frames {
                0% {
                    transform: scale3d(0.4, 0.4, 1);
                }

                50% {
                    transform: scale3d(1.2, 1.2, 1);
                }

                100% {
                    transform: scale3d(0.4, 0.4, 1);
                }
            }
        }

        $particleBaseSize: 8;

        @for $i from 1 through $particleNum {
            &:nth-child(#{$i}) {
                $circleSize: random($particleBaseSize);
                width: $circleSize + px;
                height: $circleSize + px;

                $startPositionY: random(10)+100;
                $framesName: "move-frames-"+$i;
                $moveDuration: 28000+random(9000)+ms;

                animation-name: #{$framesName};
                animation-duration: $moveDuration;
                animation-delay: random(37000) + ms;
                transform: translateX(-150vw);

                @keyframes #{$framesName} {
                    0% {
                        transform: translate3d(random(100) + vw, $startPositionY + vh, 0) translateX(0);
                    }

                    100% {
                        transform: translate3d(random(100) + vw, -$startPositionY - random(30) + vh, 0) translateX(0);
                    }
                }

                .Particle {
                    animation-delay: random(4000) + ms;
                }
            }
        }
    }
}