.DatePicker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    label {
        font-size: calc($default-font-size * 1.2);

        @include respond(big-desktop) {
            font-size: calc($default-font-size * 1.4);
        }
      
        @include respond(4k-desktop) {
            font-size: calc($default-font-size * 1.6);
        }
    }

    &__InputWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }

    &__Input {
        flex: 1;
    }

    &__Wrapper {
        width: 100vw;
        height: 100vh;
        background-color: rgba($black, .6);
        backdrop-filter: blur(.25rem);

        visibility: visible;
        opacity: 1;
        z-index: 1003;
        transition: all .2s;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        position: fixed;

        left: 50%;
        top: 0;
        transform: translateX(-50%);

        &__Hidden {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 0.2s, opacity 0.2s linear;
        }

        @include respond(phone) {
            width: 95%;
        }

        & > * {
            &:not(:last-child) {
                margin-bottom: 5rem;
            }
        }
    }
}