.Selector {
  position: relative;

  &__Selection {
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__Label {
    text-align: right;
    color: $white;
    font-size: calc($default-font-size * 1.2);
    margin-right: .8rem;
    
    @include respond(big-desktop) {
      font-size: calc($default-font-size * 1.4);
    }

    @include respond(4k-desktop) {
      font-size: calc($default-font-size * 1.6);
    }
  }

  &__DropDown {
    width: 100%;
    position: absolute;
    left: 0;
    max-height: 0vh;
    border-radius: .5rem;
    display: flex;

    flex-direction: column;
    overflow: hidden;
    color: $black;
    z-index: 10000;
    filter: drop-shadow(0rem 1rem 2rem rgba($black, .8));

    background-color: rgba($black, .8);

    transition: all .25s ease-in;
  }

  &__Open {
    max-height: 40vh;
    transition: max-height .25s ease-in;
  }

  &__Reversed {
    bottom: 100%;
  }

  &__Input {
    color: $white;
    padding: 0;
    width: 95%;
    margin: 1rem;
  }

  &__Search {
    display: flex;
    flex-direction: column;
  }

  &__Item {
    padding: 1rem;
    background-color: rgba($grey-1, .8);
    color: $white;
    cursor: pointer;
    text-align: left;
    padding-left: 3rem;
    border-top: .1rem solid $black;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    word-break: normal;
    font-size: calc($default-font-size * 1.2);

    &:last-child, &:first-child, &:only-child {
      border-style: solid;
      border-color: $white;
      border-image: linear-gradient(90deg, $primary-color, $secondary-color) 20 stretch;
    }

    &:nth-last-child(2) {
      border-top: .1rem solid $black;
      border-bottom: .1rem solid $black;
    }

    &:last-child {
      border-width: 0 0 .1rem 0;
    }
    
    &:first-child {
      border-width: .1rem 0 0 0;
    }

    &:only-child {
      border-width: .1rem 0 .1rem 0;
    }

    @include respond(phone) {
      padding-left: 1rem;
      width: 100%;
    }

    @include respond(big-desktop) {
      font-size: calc($default-font-size * 1.4);
    }

    @include respond(4k-desktop) {
      font-size: calc($default-font-size * 1.6);
    }

    @supports selector(:focus-visible) {
      &:focus-visible {
        background-color: rgba($grey-2, 0.7);
        transition: all .15s;
      }
    }

    &:hover {
      background-color: rgba($grey-2, 0.7);
      transition: all .15s;
    }
  }
}
