.InfoCard {
    background-color: rgba($grey-1, .5);
    border-radius: 2rem;
    padding: 1.5rem;
    box-shadow: 0 .5rem 1rem 1rem rgba($black, .5);
    max-width: max-content;

    @include respond(min-phone) {
        backdrop-filter: blur(1rem);
    }

    @include respond(tiny-desktop) {
        width: 100%;
    }
    
    &__Title {
        @include SecondaryTitle;
        font-size: $default-font;
    }

    &__Content {
        display: flex;
        flex-direction: column;
        margin-top: .5rem;

        @include respond(big-desktop) {
            font-size: calc($default-font * 1.6);
        }

        @include respond(4k-desktop) {
            font-size: calc($default-font * 2.2);
        }

        &__Time {
            margin: 1.5rem 0;
        }

        &__Text {
            margin: 1.5rem 0;
        }
    }

    &__Button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5rem 2rem 5rem;

        flex: 1;

        @include respond(small-phone) {
            margin: 0 5rem 3rem 5rem;
        }

        @include respond(tiny-desktop) {
            margin: 0 5rem 2rem 5rem;
        }

        @include respond(small-desktop) {
            margin: 0 5rem 3rem 5rem;
        }
    }
}