.InfoPanel {
  width: 100%;
  margin: 1rem;
  position: relative;

  &__Title {
    min-height: 5vh;
    box-shadow: 0 -.5rem 1rem rgba($black, .5);
    
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    padding-left: 4rem;
    font-size: $default-font;
    background-color: $grey-2;
    position: relative;
    cursor: pointer;
    user-select: none;
    border-bottom: .2rem solid transparent;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

    transition: all .4s;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 1.5rem;

      width: 0;
      height: 0;
      backface-visibility: hidden;

      border-top: 1rem solid transparent;
      border-bottom: 1rem solid transparent;
      border-left: 1rem solid $white;

      transition: all .4s;
    }
  }

  &__Content {
    overflow: hidden;
    width: 100%;
    background-color: $background-color;
    padding: 1rem;
    opacity: 0;
    max-height: 0;
    word-wrap: break-word;
    transform: scaleY(0);
    transform-origin: top;

    transition: all .4s ease-in-out, max-height .4s;
  }

  &__Open {
    transform: scaleY(1);
    opacity: 1;
    box-shadow: 0 .5rem 1rem rgba($black, .5);
    max-height: 100rem;
    transition: all .4s, max-height 1s;
  }

  &__OpenTitle::after {
    transform: rotate(90deg);
  }

  &__OpenTitle {
    border-bottom: .2rem solid white;
    border-image: linear-gradient(90deg, $primary-color, $secondary-color) 20 stretch;
  }
}
