.Input {
  margin: .3rem 0;
  display: flex;
  align-items: flex-start;

  @include respond(phone) {
    flex-direction: column;
  }

  &__Checkbox {
    display: flex;
    align-items: center;
    width: 100%;

    input[type="checkbox"] {
      display: none;
      visibility: hidden;
    }
    input[type="checkbox"]:checked + &__Check svg {
      stroke: $primary-color;
    }
    input[type="checkbox"]:checked + &__Check svg path {
      stroke-dashoffset: 60;
      transition: all .3s linear;
    }
    input[type="checkbox"]:checked + &__Check svg polyline {
      stroke-dashoffset: 42;
      transition: all .2s linear;
      transition-delay: 0.15s;
    }

    input[type="checkbox"]:checked:hover + &__Check svg polyline {
      stroke: darken($primary-color, 20%);
    }
    input[type="checkbox"]:not(:checked) + &__Check svg path {
      stroke-dashoffset: 0;
      transition: all 0.3s linear;
    }
    input[type="checkbox"]:not(:checked) + &__Check svg polyline {
      stroke-dashoffset: 66;
      transition: all 0.2s linear;
      transition-delay: 0s;
    }

    &__Check {
      cursor: pointer;
      position: relative;
      width: 2rem;
      height: 2rem;
      -webkit-tap-highlight-color: transparent;
      transform: translate3d(0, 0, 0);

      & svg {
        position: relative;
        z-index: 1;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: $secondary-color;
        stroke-width: 1.5;
        transform: translate3d(0, 0, 0);
        transition: all .2s ease;
      }
      & svg path {
        stroke-dasharray: 60;
        stroke-dashoffset: 0;
      }
      & svg polyline {
        stroke-dasharray: 22;
        stroke-dashoffset: 66;
      }
      &:hover svg {
        stroke: darken($secondary-color, 20%);
      }
    }

    &__Label {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      text-align: left;
      color: $white;
      margin-left: 1rem;
      font-size: calc($default-font-size * 1.2);

      & > * {
        &:last-child {
          margin-left: .5rem;
        }
      }

      @include respond(big-desktop) {
        font-size: calc($default-font-size * 1.4);
      }

      @include respond(4k-desktop) {
        font-size: calc($default-font-size * 1.6);
      }

    }

    @include respond(phone) {
      width: 100%;
      flex-direction: row;
    }

    @include respond(big-desktop) {
      font-size: calc($default-font-size * 1.4);
    }

    @include respond(4k-desktop) {
      font-size: calc($default-font-size * 1.6);
    }
  }

  &__Textarea {
    width: 100%;
  }

  &__Label {
    text-align: right;
    color: $white;
    font-size: calc($default-font-size * 1.2);
    margin-right: .8rem;

    @include respond(big-desktop) {
      font-size: calc($default-font-size * 1.4);
    }

    @include respond(4k-desktop) {
      font-size: calc($default-font-size * 1.6);
    }

    &__Area {
      margin: 1rem .5rem;
    }
  }

  &__Text {
    background: none;
    border: none;

    border-width: 0 0 .2rem 0;
    border-style: solid;
    border-color: $white;
    border-image: linear-gradient(90deg, $primary-color, $secondary-color) 20 stretch;
    letter-spacing: .1rem;

    color: $white;
    font-family: $default-font-family;
    font-size: calc($default-font-size * 1.2);
    padding: 0 .5rem;
    flex: 1;
    transition: all .5s;

    align-self: flex-end;

    @include respond(phone) {
      width: 100%;
    }

    @include respond(big-desktop) {
      font-size: calc($default-font-size * 1.4);
    }

    @include respond(4k-desktop) {
      font-size: calc($default-font-size * 1.6);
    }

    &__Area {
      background: $grey-8;
      border-width: .2rem;

      padding: .5rem .5rem;
      resize: none;
    }

    &:focus {
      outline: none;
    }
  }

  &:disabled {
    border-bottom: none;
  }
}