.ParticipantCard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1;

    background-color: $grey-2;
    padding: 1rem;
    border-radius: 2rem;

    border: .2rem solid $primary-color;
    box-shadow:
    0 .5rem 1rem .5rem rgba($black, .5),
    inset 0 0 2rem .5rem rgba($primary-color, .5);

    &__Title {
        width: 100%;
        @include TertiaryTitle;
        justify-content: center;
        flex-direction: column;
        white-space: nowrap;
        text-overflow: ellipsis;

        overflow-x: clip;
        h2 {
            @include SecondaryTitle();
            text-align: center;
            overflow-x: hidden;
        }

        &_overflow {
            justify-content: flex-start;
            align-items: flex-start;
            h2 {
                text-align: left;
            }
        }
    }

    &__Picture {
        @include picture;

        margin-top: 1rem;
        width: 17rem;
        height: 17rem;

        @include respond(phone) {
            width: 18rem;
            height: 18rem;
        }

        @include respond(big-desktop) {
            width: 20rem;
            height: 20rem;
        }

        @include respond(4k-desktop) {
            width: 25rem;
            height: 25rem;
        }
    }

    &__Flag {
        position: absolute;
        bottom: -.4rem;
        right: 0;
        font-size: calc($styled-font-size * 1.05);


        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        img {
            border-bottom-right-radius: 1rem;
        }
    }

    &__Footer {
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        height: 100%;
        width: 100%;

        & > * {
            margin: .1rem;
            height: 6vh;
            width: 6vh;
        }
    }

    &__Description {
        margin-top: 1rem;
        width: 90%;
        height: 100%;

        ul {
            margin-left: 1.5rem;
        }
    }
}

.Tooltip {
    font-family: $default-font-family;
    font-size: $default-font-size !important;
}