.Section {
    width: 100%;
    height: 100%;
    background: rgba($grey-2, .9);
    padding: 3rem;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    position: relative;
    z-index: 1;

    @include respond(min-phone) {
        backdrop-filter: blur(.5rem);
    }

    box-shadow: rgba($black, .8) 0 -.5rem 2.5rem;

    @include respond(phone) {
        padding: 1rem
    }

    &__Title {
        @include SecondaryTitle;
    }

    &__Text {
        padding-top: 3rem;
        letter-spacing: .1rem;
        font-size: $default-font;

        @include respond(big-desktop) {
            font-size: calc($default-font * 1.6);
        }

        @include respond(4k-desktop) {
            font-size: calc($default-font * 2.2);
        }
    }

    &__Border {
        padding-top: 2rem;
    }

    .Shadow {
        &__1 {
            @include SectionShadowDefaults;
            &:before {
                background: linear-gradient(90deg, $primary-color, $secondary-color);
                transform: translate3d(0, .5rem, 0) scale(1);
                opacity: .4;
            }
        }

        &__2 {
            @include SectionShadowDefaults;
            &:before {
                background: linear-gradient(90deg, $primary-color, $secondary-color);
                transform: translate3d(0, 1rem, 0) scale(1);
                opacity: .3;
                height: 1rem;
            }
        }

        &__3 {
            @include respond(min-phone) {
                @include SectionShadowDefaults;
                &:before {
                    background: linear-gradient(90deg, $primary-color, $secondary-color);
                    transform: translate3d(0, 1.5rem, 0) scale(1);
                    opacity: .2;
                    height: 1.5rem;
                }
            }
            @include respond(phone) {
                display: none;
                visibility: hidden;
            }
        }

        &__4 {
            @include respond(min-phone) {
                @include SectionShadowDefaults;
                &:before {
                    background: linear-gradient(90deg, $primary-color, $secondary-color);
                    transform: translate3d(0, 2rem, 0) scale(1);
                    opacity: .1;
                    height: 2rem;
                }
            }
            @include respond(phone) {
                display: none;
                visibility: hidden;
            }
        }

        &__5 {
            @include respond(min-phone) {
                @include SectionShadowDefaults;
                &:before {
                    background: linear-gradient(90deg, $primary-color, $secondary-color);
                    transform: translate3d(0, 2.5rem, 0) scale(1);
                    opacity: .05;
                    height: 2.5rem;
                }
            }
            @include respond(phone) {
                display: none;
                visibility: hidden;
            }
        }
    }
}