.Slider {
    width: 100%;
    z-index: 1;
    margin: auto;

    &__Track {
        top: .8rem;
        height: .4rem;
        background: $grey-5;

        &:first-child {
            background: $primary-color;
        }
    }

    &__Thumb {
        cursor: pointer;
        background: radial-gradient($secondary-color 0, $black 50%);
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        outline: none;
        border: .2rem solid $primary-color;
        box-shadow: inset 0 0 .2rem .2rem rgba($primary-color, .5);
        transition: box-shadow .2s;

        &:hover, &:active {
            box-shadow: inset 0 0 .2rem .2rem rgba($primary-color, .5), 0 0 .5rem .5rem rgba($primary-color, .5);
        }
    }

    &__Mark {
        cursor: pointer;
        top: .5rem;
        width: .4rem;
        height: 1rem;
        background-color: $white;
    }

    &__Trigger {
        width: 100%;
        height: 100%;
    }
}