.IconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
    width: max-content;
    height: max-content;
    z-index: 0;

    &__Disabled {
        pointer-events: none;
    }

    &__Button {
        filter: brightness(1.001);
        display: inline-block;
        overflow: hidden;
        background: none;
        border-radius: .3rem;
        cursor: pointer;
        transition: filter linear .25s;
        z-index: 0;

        &_Contained {
            position: relative;
            border: .2rem solid $grey-0;
            background: linear-gradient(180deg, rgba($grey-1, .5), transparent);
    
            &:before {
                content: '';
                backdrop-filter: blur(.2rem);
                display: block;
                position: absolute;
                z-index: -1;
                height: 100%;
                width: 100%;
            }
        }
    
        &_Outlined {
            border: .2rem solid $grey-0;
            background: none;
        }

        &:hover, &:focus-visible {
            filter: brightness(1.2);
        }
    }

    &__Tooltip {
        position: absolute;
        top: 0;
        font-size: 1.6rem;
        color: $white;
        padding: .5rem .8rem;
        border-radius: .5rem;
        box-shadow: 0 1rem 1rem .1rem rgba($black, 0.5);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        text-transform: capitalize;
        word-wrap: break-word;

        &::before {
            position: absolute;
            content: "";
            height: .8rem;
            width: .8rem;
            background: inherit;
            bottom: -.3rem;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        &__Open {
            top: -4.5rem;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        &__Internal {
            top: 50%;
            background:  rgba($grey-0, .5);
            border-radius: .3rem;
            width: 100%;
            height: 100%;
            z-index: 1;
            user-select: none;
            transition: all .2s ease-out;

            &__Open {
                top: 0;
                opacity: 1;
                visibility: visible;
            }

            &::before {
                all: unset;
                content: '';
                backdrop-filter: blur(.2rem);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
            }
        }
    }

    &__Icon {
        position: relative;
        padding: .5rem;
        margin: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index: 0;
    }

    &:hover &, &:focus-visible & {
        &__Tooltip {
            top: -4.5rem;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;

            &__Internal {
                top: 0;
            }
        }
    }
}