// TITLES, TEXTS, TYPOGRAPHY
@mixin PrimaryTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: calc($styled-font-size * 2);
        text-align: center;
        background-image: linear-gradient(90deg, $primary-color, $secondary-color);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: .5rem;
        padding: 0 1rem;
        font-family: $styled-font-family;

        @include respond(big-desktop) {
            font-size: calc($styled-font-size * 2.2);
        }
        
        @include respond(4k-desktop) {
            font-size: calc($styled-font-size * 2.4);
        }
    }
}

@mixin SecondaryTitle {
    font-family: $styled-font-family;
    font-size: calc($styled-font-size * 1.2);
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, $primary-color, $secondary-color);
    color: transparent;
    letter-spacing: .3rem;
    text-align: left;

    
    //Safari support 
    border-width: 0 0 .2rem 0;
    border-style: solid;
    border-color: $white;
    border-image: linear-gradient(90deg, $primary-color, $secondary-color) 20 stretch;
    
    word-wrap: break-word;
    hyphens: manual;

    @include respond(phone) {
        font-size: calc($styled-font-size * 1.3);
    }

    @include respond(big-desktop) {
        font-size: calc($styled-font-size * 1.4);
    }

    @include respond(4k-desktop) {
        font-size: calc($styled-font-size * 1.6);
    }
}

@mixin TertriaryTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: $styled-font-family;

    h3 {
        font-size: calc($styled-font-size * 1);
        background-image: linear-gradient(90deg, $primary-color, $secondary-color);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: .2rem;

        word-wrap: break-word;
        hyphens: manual;


        @include respond(big-desktop) {
            font-size: calc($styled-font-size * 1.2);
        }

        @include respond(4k-desktop) {
            font-size: calc($styled-font-size * 1.4);
        }
    }
}

// SECTIONS, SHADOWS
@mixin SectionShadowDefaults {
    &:before {
        content: "";
        z-index: -1;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
        height: .5rem;
    }
    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        border-radius: inherit;
    }
}

// UTILS
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// MEDIA QUERY MANAGER
/*
0 - 400px Small Phone Portrait [WIDTH]
400px - 600px Phone Portrait [WIDTH]
600px - 1000px tiny Desktop [WIDTH]
1000px - 1400px Small Desktop [WIDTH]
[1400 - 2000px] Desktop (Normal styles apply)
2000px - 3000px Big Desktop [WIDTH]
3000px + Huge Desktop [WIDTH]

$breakpoint argument choices:
- small-desktop
- tiny-desktop
- phone
- small-phone
- big-desktop
- 4k-desktop

ORDER:
small-desktop
tiny-desktop
phone
small-phone
[default] - no responsivity needed
big-desktop
4k-desktop

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == small-phone {
        @media only screen and (max-width: 25em) { @content };
    };
    
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };
    };
    @if $breakpoint == min-phone {
        @media only screen and (min-width: 37.5em) { @content };
    };

    @if $breakpoint == tiny-desktop {
        @media only screen and (max-width: 62.5em) { @content };
    };

    @if $breakpoint == small-desktop {
        @media only screen and (max-width: 87.5em) { @content };
    };

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 125em) { @content };
    };

    @if $breakpoint == 4k-desktop {
        @media only screen and (min-width: 187.5em) { @content };
    };
}