// FONT
$styled-font-size: 3.0rem;

$styled-font-family:
Default-Font,
-apple-system,
BlinkMacSystemFont,
Segoe UI,
Roboto,
Oxygen,
Ubuntu,
Cantarell,
Fira Sans,
Droid Sans,
Helvetica Neue,
sans-serif;

$tiki-font-family:
Tiki-Font,
-apple-system,
BlinkMacSystemFont,
Segoe UI,
Roboto,
Oxygen,
Ubuntu,
Cantarell,
Fira Sans,
Droid Sans,
Helvetica Neue,
sans-serif;

$default-font-size: 1.6rem;

$default-font-family:
Roboto,
-apple-system,
BlinkMacSystemFont,
Segoe UI,
Oxygen,
Ubuntu,
Cantarell,
Fira Sans,
Droid Sans,
Helvetica Neue,
sans-serif;


// MEDIA QUERY MANAGER
$small-desktop: 1400;
$tiny-desktop: 1000; // For dynamic change of navbar
$phone: 600;
$smallPhone: 410;

// COLORS
$black: #000000;
$grey-1: #181818;
$grey-2: #272727;
$grey-3: #3a3a3a;
$grey-4: #5c5c5c;
$grey-5: #757575;
$grey-6: #969696;
$grey-7: #cccccc;
$grey-8: #e6e6e6;
$white: #ffffff;

$default-red: #ff0000;
$default-green: #00ff00;
$default-blue: #0000ff;

$primary-color: #ffae00;
$secondary-color: #9a0d8b;

// SITE
$background-color: #181818;

// FLOATING MESSAGE
$default-error: #ff0000;
$default-success: #00ff00;
$default-info: #ffffff;

$default-font-size: 1.6rem;

$default-font-family:
Roboto,
-apple-system,
BlinkMacSystemFont,
Segoe UI,
Oxygen,
Ubuntu,
Cantarell,
Fira Sans,
Droid Sans,
Helvetica Neue,
sans-serif;

// FEEDBACK
$color-error: rgb(235, 20, 20);
$color-warning: rgb(235, 120, 20);
$color-success: rgb(20, 235, 20);
$color-info: rgb(200, 200, 200);

// SIZES
$size-icon-large: 3.2rem;
$size-icon-normal: 2.6rem;
$size-icon-small: 1.8rem;

$size-large: 2.5rem;
$size-normal: 2rem;
$size-small: 1.5rem;

// CARDS
$card-shadow:  0rem 0rem 0.6rem 0.1rem rgba($black, 0.25);