// FONT
$default-font: 3.0rem;

// COLORS
$black: #000000;
$grey-1: #181818;
$grey-2: #272727;
$grey-3: #3a3a3a;
$grey-4: #5c5c5c;
$grey-5: #757575;
$grey-6: #969696;
$grey-7: #cccccc;
$grey-8: #e6e6e6;
$white: #ffffff;

$default-red: #ff0000;
$default-green: #00ff00;
$default-blue: #0000ff;

$primary-color: #F741D5;
$secondary-color: #0BBFFC;

// SITE
$background-color: #1a1818;

// FLOATING MESSAGE
$default-error: rgb(105, 27, 27);
$default-ok: rgb(58, 121, 21);
$default-info: rgb(190, 190, 190);