// FONT
$styled-font-size: 3.0rem;

$styled-font-family:
Default-Font,
-apple-system,
BlinkMacSystemFont,
Segoe UI,
Roboto,
Oxygen,
Ubuntu,
Cantarell,
Fira Sans,
Droid Sans,
Helvetica Neue,
sans-serif;

$default-font-size: 1.6rem;

$default-font-family:
Roboto,
-apple-system,
BlinkMacSystemFont,
Segoe UI,
Oxygen,
Ubuntu,
Cantarell,
Fira Sans,
Droid Sans,
Helvetica Neue,
sans-serif;


// MEDIA QUERY MANAGER
$tiny-desktop: 1000; // For dynamic change of navbar


// COLORS
$black: #000000;
$grey-1: #181818;
$grey-2: #272727;
$grey-3: #3a3a3a;
$grey-4: #5c5c5c;
$grey-5: #757575;
$grey-6: #969696;
$grey-7: #cccccc;
$grey-8: #e6e6e6;
$white: #ffffff;

$default-red: #ff0000;
$default-green: #00ff00;
$default-blue: #0000ff;

$primary-color: #F741D5;
$secondary-color: #0BBFFC;

// SITE
$background-color: #1a1818;

// FLOATING MESSAGE
$default-error: #ff0000;
$default-success: #00ff00;
$default-info: #ffffff;

:export {
    tinyDesktop: $tiny-desktop;
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
}