@font-face {
  font-family: "Default-Font";
  src: url("../public/Bahiana-Regular.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px/16px = 62.5%

  @include respond(phone) {
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%

    scrollbar-width: initial;
  }

  @include respond(4k-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }

  font-family: $default-font-family;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;

    @include respond(phone) {
      display: initial;
    }
  }
}

body {
  font-size: $default-font-size;
  background-color: $background-color;

  box-sizing: border-box;

  @include respond(phone) {
    padding: 0;
  }
}

::selection {
  background-color: $secondary-color;
  color: $white;
}

a {
  text-decoration: none;
}