.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5rem;
    margin-left: -5rem;
    width: 10rem;
    height: 10rem;
    font-size: $default-font;
}
.inner {
    border: 0.3rem solid $default-red;
    padding: 1rem;
    margin: -5rem;
}
.content {
    width: 100%;
}