.WIP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background: rgba($grey-1, .4);
    box-shadow: 0 .5rem 1rem 1rem rgba($black, .75);
    border: solid .1rem $grey-5;

    &__Background {
        @include DefaultBackground;
    }

    @include DefaultLayout;

    &__Image {
        max-width: 40%;
    }

    &__Desc {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}