.Navbar {
    z-index: 10000;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgba($background-color, .5);
    box-shadow: 0 .3rem .6rem .4rem rgba($black, .4);

    &:before {
        content: '';
        backdrop-filter: blur(.2rem);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &__BrandImage {
        margin-left: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            object-fit: cover;

            width: 4.5rem;
            height: 4.5rem;
        }
    }

    &__Body {
        padding-right: 2rem;
        display: flex;
        width: 100%;
        justify-content: space-between;

        &__Left, &__Right, &__Center {
            display: flex;

            & > * {
                &:not(:last-child) {
                    border-right: .2rem solid $grey-0;
                }
                &:first-child {
                    border-left: .2rem solid $grey-0;
                }
                &:last-child {
                    border-right: .2rem solid $grey-0;
                }
            }
        }


        &__Items {
            width: 50vw;
            position: fixed;
            top: 0;
            bottom: 0;
            background-color: rgba($background-color, .5);
            box-shadow: 0 .3rem .6rem .4rem rgba($black, .75);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
            transform: translateX(100vw);
            transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) .4s;

            
            &:before {
                content: '';
                backdrop-filter: blur(.3rem);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
            }

            &__Open {
                transform: translateX(0);
            }

            & > * {
                width: 100%;
            }

            @include respond(small-phone) {
                width: 100vw;
            }
        }
        @include respond(tiny-desktop) {
            padding-right: 0;
            overflow: hidden;
            justify-content: flex-end;
            align-items: center;
        }
    }


    @include respond(big-desktop) {
        box-shadow: 0 .6rem 1.2rem .4rem rgba($black, .4);
    }
}