.nav {
  display: flex;
  position: fixed;
  top: 0;
  color: $grey-5;
  z-index: 100;
  width: 100%;
  transform-style: preserve-3d;
  pointer-events: none;

  flex-direction: column;

  .ItemWrappers {
    pointer-events: all;
    width: 15vw;
    height: 100vh;
    background-color: rgba($grey-2, .8);
    position: relative;
    z-index: 10;
    box-shadow: 1rem -.1rem 3rem 0 rgba($black, .25);
    overflow-x: hidden;
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    @include respond(tab-port) {
      transform-style: preserve-3d;
      height: 100%;
    }

    .ItemContainer {
      display: flex;
      align-items: flex-start;
      position: absolute;
      box-sizing: border-box;

      flex-direction: column;
      flex: 1;

      & > * {
        padding: .5rem 1rem;
      }

      @include respond(tab-port) {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column !important;
        transform: translateY(28%);
        background-color: $grey-2;
        left: 0;
        padding: 1rem;
      }
    }

    .TopContainer {
      display: flex;
      margin-bottom: 3rem;
      width: 100%;
      border-bottom: .2rem solid lighten($primary-color, 5%);
      box-shadow: 0 1rem 1rem 0 rgba($primary-color, 0.75);
      justify-content: space-between;
      align-items: center;

      @mixin TopItem {
        display: flex;
        user-select: none;
        cursor: pointer;
        font-size: 3rem;
        margin: 0 1rem;
        padding: .5rem;
        border-radius: .5rem;
        background: none;
        border: none;
        transition: all .2s linear;

        @include respond(tab-land) {
          font-size: calc($default-font * 1.5);
        }
        @include respond(big-desktop) {
          font-size: calc($default-font * 1.5625);
        }

        &:hover {
          background-color: rgba($primary-color, .3);
        }
      }

      .CloseBtn {
        @include TopItem;
        color: $primary-color;
        padding-top: .9rem;
        align-self: stretch;
      }

      .HomeBtn {
        @include TopItem;
        color: $primary-color;
        padding-top: .9rem;
        align-self: stretch
      }

      .LanguageChanger {
        @include TopItem;
      }
    }

    .Active {
      margin-top: .2rem;
      border-bottom: .2rem solid $white;
    }

    .ItemsButton {
      display: none;

      @include respond(tab-port) {
        width: 40%;
        height: 80%;
        clip-path: polygon(65% 0, 100% 0, 99% 100%, 0 100%, 0 25%, 54% 25%);
        background-color: $grey-1;
        position: absolute;
        right: 5%;
        top: 5%;

        transition: 50ms ease-in-out;
        filter: drop-shadow(0rem 0rem 0.3rem rgba($black, 0.25));
        display: flex !important;
        align-items: center;
        user-select: none;

        @include respond(tab-port) {
          .ItemsButtonText {
            position: relative;
            top: 10%;
            left: 10%;
            font-size: calc($default-font * 1.1);
          }
        }
      }
    }
  }
}