@mixin TopItem {
  display: flex;
  user-select: none;
  cursor: pointer;
  font-size: calc($default-font * 1.15);
  margin: 0 1rem;
  padding: .5rem;
  border-radius: .5rem;
  background: none;
  border: none;
  transition: all .2s linear;


  @include respond(small-desktop) {
    font-size: calc($default-font * 1);
  }

  @include respond(tiny-desktop) {
    font-size: calc($default-font * 1.2);
  }

  @include respond(phone) {
    font-size: calc($default-font * 1.4);
  }

  @include respond(small-phone) {
    font-size: calc($default-font * 1.6);
  }

  @include respond(big-desktop) {
    font-size: calc($default-font * 1.25);
  }

  @include respond(4k-desktop) {
    font-size: calc($default-font * 2);
  }

  @include respond(min-phone) {
    &:hover {
      background-color: rgba($primary-color, .3);
    }
  }
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  color: $grey-5;
  z-index: 100;
  width: 100%;
  transform-style: preserve-3d;
  pointer-events: none;

  flex-direction: column;

  .MainButtonWrapper {
    pointer-events: all;
    display: flex;
    position: fixed;
    z-index: 101;
    filter: drop-shadow(0 0 2rem rgba($primary-color, .5));

    @include respond(min-phone) {
      opacity: .95;
    }

    transform: translateX(0);

    transition: all .2s .35s;
    
    .MainButton {
      @include TopItem;
      border-radius: 0;
      margin: 0;
      color: $primary-color;
      top: 2px;
      left: 2px;
      padding: .9rem 1.5rem 2rem 1.5rem;

      background-color: $grey-2;
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

      align-self: stretch;

      font-size: 4rem;
    }
  }

  .MainButtonClosed {
    opacity: 0;
    transform: translateX(-15vw);
    transition-delay: .0s;
  }

  .BarClosed {
    opacity: 0 !important;
    transform: translateX(-15vw) !important;

    @include respond(small-desktop) {
      transform: translateX(-20vw) !important;
    }
  
    @include respond(tiny-desktop) {
      transform: translateX(-40vw) !important;
    }
  
    @include respond(phone) {
      transform: translateX(-60vw) !important;
    }
  
    @include respond(small-phone) {
      transform: translateX(-100vw) !important;
    }  
  }

  .ItemWrappers {
    pointer-events: all;
    width: 15vw;
    height: 100vh;
    background-color: rgba($grey-2, .95);
    position: relative;
    z-index: 10;
    box-shadow: 1rem -.1rem 3rem 0 rgba($black, .25);
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(0);

    @include respond(phone) {
      background-color: $grey-2;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    @include respond(small-desktop) {
      width: 20vw;
    }

    @include respond(tiny-desktop) {
      width: 40vw;
    }

    @include respond(phone) {
      width: 60vw;
      scrollbar-width: initial;
      -ms-overflow-style: initial;

      &::-webkit-scrollbar {
        display: initial;
      }
    }

    @include respond(small-phone) {
      width: 100vw;
    }

    transition: all .4s cubic-bezier(.5,-0.05,.5,1.05);

    .ItemContainer {
      display: flex;
      align-items: flex-start;
      position: absolute;
      box-sizing: border-box;
      width: 100%;

      flex-direction: column;

      & > * {
        padding: .5rem 1rem;
        flex: 1;
      }
    }

    .TopContainer {
      display: flex;
      margin-bottom: 3rem;
      width: 100%;
      border-bottom: .2rem solid lighten($primary-color, 5%);
      box-shadow: 0 1rem 1rem 0 rgba($primary-color, 0.75);
      justify-content: space-between;
      align-items: center;

      .CloseBtn {
        @include TopItem;
        color: $primary-color;
        padding-top: .9rem;
        align-self: stretch;
      }

      .HomeBtn {
        @include TopItem;
        color: $primary-color;
        padding-top: .9rem;
        align-self: stretch
      }

      .LanguageChanger {
        @include TopItem;
      }
    }

    .Active {
      margin-top: .2rem;
      border-bottom: .2rem solid $white;
    }

    .ItemsButton {
      display: none;
    }
  }
}